<h2 class="serif fw-bold">Editando Categoria - <%= @category.id %></h2>
<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path, :class => "btn btn-outline-dark btn-sm px-3 my-2" %>
</div>
