<h2 class="serif fw-bold">New category</h2>
<%= render "form", category: @category %>

<div>
  <%= link_to "Back to categories", categories_path, :class => "btn btn-outline-dark btn-sm px-3 w-100" %>
</div>
